{% extends "layout.html" %}

{% block title %}
    sBlog - About
{% endblock %}

{% block body %}
<br>
<h1 style="text-align: center;">About sBlog:</h1>
<div style="text-align: center;"><i>sBlog - Srikar's blog site</i></div>
<br>
<h5>About the name:</h5>
<p>What does the 's' stand for?</p>
<ul>
    <li>Srikar</li>
    <li>Standard</li>
</ul>
<p>The name was created on the spot while Srikar was thinking of the name of his project.</p>
<br>
<h5>About the site:</h5>
<ul>
    <li>
    This blogging website was created within 10 days as a miniproject by Srikar Tadeparti.
    </li>
    <li>
    You can create blogs, update them, and delete them, as well as comment on other people's blogs.
    </li>
    <li>
    This website was created using Django, HTML, CSS, and a little JavaScript.
    </li>
</ul>
{% endblock %}