{% extends "layout.html" %}

{% block title %}
    sBlog - Edit Post
{% endblock %}

{% block body %}
<br>
<h1 style="text-align: center;">Edit post</h1>
<br>
<form action="/edit/{{ post.id }}" method="post" style="text-align: center;">
    {% csrf_token %}
    <p><input type="text" placeholder="{{ post.title }}" name="title" maxlength="100" disabled></p>
    <p><textarea rows="15" cols="80" placeholder="Content..." name="content" maxlength="20000" required>
        {{ post.content }}
    </textarea></p>
    <button type="submit" class="btn standard_button" style="color: white;">Update log</button>
</form>
{% endblock %}